<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>XPLOR</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
        <script type="text/javascript">
            window.myobj = {
                markerOver: function() { this.openInfoWindow(); },
                markerOut: function() { this.closeInfoWindow(); }
            };
            $('#form').submit(function(e){
                $.post('/search/add_destination/', $(this).serialize(), function(data){
                   alert(data);
                   // of course you can do something more fancy with your respone
                });
                e.preventDefault(); 
            });
        </script>
    </head>

    <body>
        <h1>Add a Destination</h1>
        
        <form id="destination_form" method="post" action="">
            {% csrf_token %}
            <label>{{form.searchfor.help_text}}</label> {{ form.searchfor }}
            <input type="submit" name="submit" value="Create Destination" />
            <div class="message"></div>
            <div id="message"> </div>
        </form>
   </body>

</html>